<% provide(:title, "About") %>
<h1>ポモドーロ・テクニックとは...</h1>
<h2>
  仕事や勉強、家事などのタスクを25分間続けた後に5分の休憩を取り、そのサイクルを最大4回続けるという時間管理術である</br>
  確かな研究に基づいているのです。
</h2>
<h3>
  (参考URL)<a href="https://www.newsweekjapan.jp/stories/carrier/2019/03/post-11867.php">
ポモドーロ・テクニック：世界が実践する時間管理術はこうして生まれた</a>
</h3>
<h3>
  休憩はこまめに取った方が生産性は上がります！！
</h3>