<div class="center jumbotron">
  <h1>Pomodoro Technique</h1>
  <p>ポモドーロテクニックの世界へようこそ</p>
  <h2>トマトのアイコン追加しようかな？</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>